body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#reloj {
  display: flex;
  width: 350px;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1%;
}

#images > img {
  width: 25px;
  height: auto;
}

img {
  width: 25px;
  height: auto;
}



